.DS_Store
/poem_client/node_modules
/poem_client/dist
/dist


# local env files
.env.local
.env.*.local

# Log files
/poem_client/npm-debug.log*
/poem_client/yarn-debug.log*
/poem_client/yarn-error.log*
/poem_client/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
