.DS_Store
/poem_client/node_modules
/poem_client/dist
/poem_server/config-poem.yaml
/poem_client/*.conf
/dist
.idea/
/poem_server/test
/poem_server/log
/poem_server/go.sum

# local env files
.env.local
.env.*.local

# Log files
/poem_client/npm-debug.log*
/poem_client/yarn-debug.log*
/poem_client/yarn-error.log*
/poem_client/pnpm-debug.log*
/poem_client/pnpm-debug.log*
/poem_client/yarn.lock
/poem_client/package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
